@model MVCBlog.Areas.Admin.Models.DTO.HaberVM
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
          @Html.AntiForgeryToken()      
         <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.HaberBaslik)
            @Html.TextBoxFor(m => m.HaberBaslik, new { @class = "form-control", @placeholder = "Haber başlık" })
            @Html.ValidationMessageFor(m => m.HaberBaslik)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HaberIcerik)
       
            @Html.TextAreaFor(m=>m.HaberIcerik, new { @class= "ckeditor",@id= "ckeditor" })
            @Html.ValidationMessageFor(m => m.HaberIcerik)

        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Resim)
            <input type="file" name="HaberResim" />
            @Html.ValidationMessageFor(m => m.Resim)
            @Html.HiddenFor(m=>m.Resim)

        </div>
     
     
        <img src="@Model.Resim" alt="haber resim" title="haber resim"  width="250" height="300" />
   
     
    </div><!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
}